
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :price %><br>
  <%= f.text_field :price %>
</p>

<p>
  <%= f.label :amount %><br>
  <%= f.text_field :amount %>
</p>

<p>
  <%= f.submit 'Update' %>
</p>