<h1>Product #<%= @product.id %> </h1>

<p>
  <strong>Name: </strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price: </strong>
  <%= @product.unit_price %>
</p>

<p>
  <strong>Amount: </strong>
  <%= @product.amount %>
</p>

<%= link_to 'Back', product_index_path %>

