<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  Hi, <%= @current_user.username %> !
  <%= link_to 'Log out', '/session/logout', style: 'color: red; font-size: 17px' %><br>

  <%= link_to 'HOME', '/main/main_page' %><br>

  <%= link_to 'CART', '/cart/show' %><br>

  <%= yield %>

  </body>
</html>
